<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Animal Camera
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="cameraPreview" class="cameraPreview">
    <div *ngIf="cameraActive">
      <img src="./assets/icon/favicon.png" class="image-overlay">
      <ion-button (click)="stopCamera()" expand="block" id="close">
        <ion-icon name="close-circle" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="playSound()" expand="block" id="sound">
        <ion-icon name="volume-up" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="captureImage()" expand="block" id="capture">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="flipCamera()" expand="block" id="flip">
        <ion-icon name="camera-reverse" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>
  <ion-img [src]="image" *ngIf="image && !cameraActive"></ion-img>
  <div *ngIf="!cameraActive">
    <ion-button (click)="openCamera()" expand="full">
      Open Camera</ion-button>
  </div>
</ion-content>